<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image">
  <div class="row no-gutters social-container">
    <div class="col">
      <span>© </span><span class="copyright-year">2020</span><span> </span
      ><span>RBK</span><span>. </span><span>All Rights Reserved.</span>
    </div>
  </div>
</footer>
