.navbar {
  padding-top: 1%;
  background: transparent;
  padding-left: 5%;
}

.navbar-nav {
  position: absolute;
  right: 5%;
  color: rgba(255, 255, 255, 0.9);
}

#notif:hover {
  color: yellow;
}
#menu:hover {
  color: white;
}
#logout:hover {
  color: rgb(255, 9, 9);
}
