<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/"
    >Mode <span class="sr-only">(current)</span></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a id="menu" class="nav-item nav-link" href="#" routerLink="items"
        ><i class="material-icons">
          assignment
        </i></a
      >

      <a id="notif" class="nav-item nav-link" style="margin-left: 30px;"
        ><i class="material-icons">
          notifications_none
        </i></a
      >
      <a
        (click)="logout()"
        id="logout"
        class="nav-item nav-link"
        style="margin-left: 30px; cursor: pointer;"
        ><i class="material-icons">
          exit_to_app
        </i></a
      >
    </div>
  </div>
</nav>
