<app-navbar></app-navbar>
<img
  src="https://static.wixstatic.com/media/9fdacc_09b9cbda3aba493abbe683e80393e07b.jpg"
/>

<div id="dashboard">
  <ul style="text-align: center;">
    <span class="badge badge-pill badge-secondary">
      {{ users.length }} Customers</span
    >
    <span class="badge badge-pill badge-secondary">
      {{ orders.length }} Orders</span
    >
    <span class="badge badge-pill badge-secondary">
      {{ approvedOrders.length }} Approved Orders</span
    >
    <span class="badge badge-pill badge-secondary">
      {{ rejectedOrders.length }} Rejected Orders</span
    >
  </ul>
</div>

<app-footer></app-footer>
