<app-navbar></app-navbar>
<img
  src="https://static.wixstatic.com/media/9fdacc_09b9cbda3aba493abbe683e80393e07b.jpg"
/>
<div id="dashboard">
  <ul style="text-align: center;">
    <span class="badge badge-pill badge-secondary">
       Customers</span
    >
    <span class="badge badge-pill badge-secondary">
       Orders</span
    >
    <span class="badge badge-pill badge-secondary">
       Approved Orders</span
    >
    <span class="badge badge-pill badge-secondary">
       Rejected Orders</span
    >
  </ul>
</div>

<app-footer></app-footer>